.aside {
    background-color: var(--aside-theme-color);
    color: var(--aside-text-color);
    grid-area: nav;
    box-shadow: var(--shadow-normal);
    z-index: 1;
}

.active {
    color: red !important;
    fill: red !important;
    background: transparent !important;
}
